<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Borrowed Books</title>
</head>
<body class="d-flex">
<main class="col-md-10 ml-sm-auto py-3 flex-fill">
    <section layout:fragment="body" class="py-5">
        <div class="container" style="margin-bottom: 340px">
            <div class="card border-dark my-3 ">
                <h4 class="card-header">Borrows list</h4>
                <div class="card-body" align="center">
                    <table class="table table-hover table-sm table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Book Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="borrowedBook : ${borrowedBooks}">
                            <td th:text="${borrowedBook.user.username}"></td>
                            <td th:text="${borrowedBook.user.email}"></td>
                            <td th:text="${borrowedBook.book.title}"></td>
                            <td th:text="${borrowedBook.book.author.name}"></td>
                            <td th:text="${borrowedBook.startDate}"></td>
                            <td th:text="${borrowedBook.endDate}"></td>
                            <td>
                                <a class="btn btn-primary mb-1"
                                   th:href="@{/return-book/{borrowId}(borrowId=${borrowedBook.id})}">Returned</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
