<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Registration</title>
</head>
<body class="d-flex">
<section layout:fragment="body" class="py-5">
    <div class="container" style="margin-top: 35px; margin-bottom: 75px">
        <div class="d-flex justify-content-center align-items-center main">
            <div class="col-md-6 mx-auto">
                <div class="alert alert-success" th:if="${param.fail}">Username or email already exists</div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Registration</h5>
                        <form method="post" role="form" th:action="@{/registration/save}" th:object="${user}">
                            <div class="mb-3">
                                <label for="inputNickname" class="form-label">Username</label>
                                <input type="text" class="form-control" id="inputNickname" placeholder="Nickname" th:field="*{username}">
                                <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                            </div>
                            <div class="mb-3">
                                <label for="inputEmail" class="form-label">Email</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email"
                                       th:field="*{email}">
                                <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                            </div>
                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Password</label>
                                <input type="password" class="form-control" id="inputPassword"
                                       placeholder="Password"
                                       th:field="*{password}">
                                <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                            </div>
                            <button th:action="@{/registration}" type="submit" class="btn btn-primary">Register</button>
                            <a th:href="@{/login}" type="submit" class="btn btn-light">Already have an account? Sign in here!</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>